Repository KinsonDigital/BranchValidator, pull requests merged in 2022-08, with the labels that each got.

#15 Create logo for BranchValidator project
  .vscode/settings.json
  Documentation/Images/branchvalidator-logo-darkmode.png
  Documentation/Images/branchvalidator-logo-lightmode.png
  README.md
Labels: good first issue, low priority, preview

#19 Update/add issue and PR templates
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.1.md
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#22 Update Code of Conduct
  code_of_conduct.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#24 Fix release todo issue template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#25 Update GitHub action name
  action.yml
Labels: good first issue, medium priority, preview, 📝documentation/product

#37 Update preview feature release template
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
Labels: good first issue, high priority, preview, 📝documentation/product

#29 Update branching docs
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
Labels: good first issue, high priority, preview, 📝documentation/product

#31 Add notes about Ubuntu to README
  README.md
Labels: good first issue, high priority, preview, 📝documentation/product

#34 Update release todo template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, 📝documentation/product

#39 Implement KDActionUtils library
  BranchValidator/BranchValidator.csproj
  BranchValidator/Exceptions/NullOrEmptyStringArgumentException.cs
  BranchValidator/GitHubAction.cs
  BranchValidator/IAction.cs
  BranchValidator/Program.cs
  BranchValidator/RuntimeScripts/ExpressionFunctions.cs
  BranchValidator/Services/ActionOutputService.cs
  BranchValidator/Services/GitHubConsoleService.cs
  BranchValidator/Services/Interfaces/IActionOutputService.cs
  BranchValidatorShared/Services/AppService.cs
  BranchValidatorShared/Services/ArgParsingService.cs
  BranchValidatorShared/Services/ConsoleService.cs
  BranchValidatorShared/Services/IAppService.cs
  BranchValidatorShared/Services/IArgParsingService.cs
  BranchValidatorShared/Services/IConsoleService.cs
  Testing/BranchValidatorIntegrationTests/GitHubActionIntegrationTests.cs
  Testing/BranchValidatorTests/ActionInputsTests.cs
  Testing/BranchValidatorTests/Exceptions/NullOrEmptyStringArgumentExceptionTests.cs
  Testing/BranchValidatorTests/GitHubActionTests.cs
  Testing/BranchValidatorTests/Services/ActionOutputServiceTests.cs
  Testing/ScriptGeneratorTests/ScriptGeneratorTests.csproj
  Testing/ScriptGeneratorTests/Services/GeneratorServiceTests.cs
  Tooling/ScriptGenerator/Program.cs
  Tooling/ScriptGenerator/ScriptGenerator.csproj
  Tooling/ScriptGenerator/Services/GeneratorService.cs
  action.yml
Labels: high priority, preview, tech debt, 🔗has dependencies

#40 Improve project README
  README.md
Labels: low priority, preview, 📝documentation/product

#42 Add 2 tasks to PR templates
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#43 Add URL link to create issue to console output
  BranchValidator/GitHubAction.cs
  Testing/BranchValidatorTests/GitHubActionTests.cs
Labels: ✨new feature, low priority, preview, 🔗is dependency

#45 🚀Release To Preview
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
  .github/workflows/build-status-check.yml
  .github/workflows/unit-testing-status-check.yml
  .vscode/settings.json
  BranchValidator/BranchValidator.csproj
  BranchValidator/Exceptions/NullOrEmptyStringArgumentException.cs
  BranchValidator/GitHubAction.cs
  BranchValidator/IAction.cs
  BranchValidator/Program.cs
  BranchValidator/RuntimeScripts/ExpressionFunctions.cs
  BranchValidator/Services/ActionOutputService.cs
  BranchValidator/Services/GitHubConsoleService.cs
  BranchValidator/Services/Interfaces/IActionOutputService.cs
  BranchValidatorShared/Services/AppService.cs
  BranchValidatorShared/Services/ArgParsingService.cs
  BranchValidatorShared/Services/ConsoleService.cs
  BranchValidatorShared/Services/IAppService.cs
  BranchValidatorShared/Services/IArgParsingService.cs
  BranchValidatorShared/Services/IConsoleService.cs
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
  Documentation/Images/branchvalidator-logo-darkmode.png
  Documentation/Images/branchvalidator-logo-lightmode.png
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.1.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.2.md
  README.md
  Testing/BranchValidatorIntegrationTests/GitHubActionIntegrationTests.cs
  Testing/BranchValidatorTests/ActionInputsTests.cs
  Testing/BranchValidatorTests/Exceptions/NullOrEmptyStringArgumentExceptionTests.cs
  Testing/BranchValidatorTests/GitHubActionTests.cs
  Testing/BranchValidatorTests/Services/ActionOutputServiceTests.cs
  Testing/ScriptGeneratorTests/ScriptGeneratorTests.csproj
  Testing/ScriptGeneratorTests/Services/GeneratorServiceTests.cs
  Tooling/ScriptGenerator/Program.cs
  Tooling/ScriptGenerator/ScriptGenerator.csproj
  Tooling/ScriptGenerator/Services/GeneratorService.cs
  action.yml
  code_of_conduct.md
Labels: 🚀Preview Release

#47 Fix release notes file name
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.3.md
Labels: high priority, preview, 📝documentation/product

#49 Add release note templates to repo
  Documentation/ReleaseNotes/PreviewReleases/Preview-Release-Notes-TEMPLATE.md
  Documentation/ReleaseNotes/PreviewReleases/Production-Release-Notes-TEMPLATE.md
Labels: good first issue, high priority, preview, 📝documentation/product

#52 Remove issue and pr templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: high priority, preview, 📝documentation/product

#54 Move release note template files to proper folder
  Documentation/ReleaseNotes/Preview-Release-Notes-TEMPLATE.md
  Documentation/ReleaseNotes/Production-Release-Notes-TEMPLATE.md
Labels: high priority, preview, 📝documentation/product

#55 Remove empty sections in release notes
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.3.md
Labels: medium priority, preview, 📝documentation/product
